# Ignore environment variables
myenv.env

# Ignore configuration files
config.json
secret-config.yml

# Ignore all files with a .log extension
*.log

# Ignore specific directories
/node_modules
/vendor

# Ignore files related to specific IDEs
.DS_Store
.idea/
Thumbs.db